header {
	background-image: url("../img/artmuseum1.jpg");
	color: #FFFFFF;
	text-shadow: 2px 2px 8px #37373F;
}


#musuems .container .row {
	border-bottom: 1px dashed #f1f1f1;

}

.museumpic {
	display: block;
	width: 100%;
	border-radius: 3px;
	height: 10em;
	vertical-align: center;
	text-align: center;



}

/*.museum-div {
	border-right: 1px dashed #f1f1f1;
	height: 100%;
}

.museum-text-div{
	border-bottom: 1px dashed #f1f1f1;
}*/

.museumlink {
	font-size: 2rem;
	padding: 0rem 2rem 0rem 2rem;
	text-decoration: none;
}

.museumtext {
	padding: 1em 2em 1em 2em;
	font-size: 0.8em !important;
	color: #393939;
	vertical-align: center;
}

.museumbox {
	display: block;
	height: 100%;
}

.links {
	background-color: #C5C5C5;
	text-align: center;
}

p {
	margin: 1rem;
}