nav{
	border-color: #383836;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	opacity: 0.95;
}

.page-scroll:hover{
	color: #ee8600;
}
.log-div{
	float: left;
}
#logo-text{
	text-align: left;
	vertical-align: center;
	font-family: 'Rock Salt', cursive;	
	border-left: 1px solid #686868;
	margin-left: 2em;
	font-size: 1.1em;
	letter-spacing: 4px;
}


#logo-img{
	width: 6.2em;
	height: 4.6em;
	margin-top: -1.7em;
	margin-left: -2.3em;
	position: absolute;
}

.current{
	background-color:  #fecb15;
	border-radius: 3px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:active,
.navbar-inverse .navbar-brand.active {
	color: #fecb15;
}


.navbar-inverse .navbar-nav>a {
        border-radius: 3px;
    }


.navbar-inverse .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-inverse .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-inverse .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #fff;

}

.navbar-inverse .nav li a:hover,
.navbar-inverse .nav li a:focus {
    outline: 0;
    color: #fed136;
}

/*.navbar-inverse .navbar-nav>a {
    border-radius: 0;
    color: #fff;
}*/

/*.navbar-inverse .navbar-nav>a:hover,
.navbar-inverse .navbar-nav>a:focus {
    color: #fff;
}*/

/* .navbar-inverse .navbar-nav>a {
        border-radius: 3px;
}*/



/*Footer CSS*/
.footer-above{
	background-color: #2b2b2b;
	padding-top: 1.8em;
	padding-bottom: 1.8em;
	text-align: center;
	vertical-align: center;
}

.footer-below{
	background-color:#1a1a1a; 
	color: #7b7b7b;
	vertical-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}


