
header {
	background-image: url("../img/artmuseum1.jpg");
	color: #FFFFFF;
	text-shadow: 2px 2px 8px #37373F;
}

.container{
	display: block;
	margin-bottom: 2%;
	margin-top: 2%;
}

.thumbnail{
	vertical-align: middle;
	padding: 1%;
	margin-top: 10%;
	margin-bottom: 1%;
	display: block;
	height: auto;


}



.userid{
	margin-left:8%;
	color: #9933FF;
	text-decoration: underline;
	font-weight: bold;
	font-size: 125%;
}

h3{
	margin-top: 2%;
	padding: 1.5%;
	margin-left:1%;
	background-color: #E0E0EB;
}

.review{

	margin-left: 1%;
	margin-top: 1%;
}

.col-sm-8{

}
